{
    "presets": [
        ["@babel/preset-env", {"modules": false}],
        "@babel/preset-typescript",
        "@babel/preset-react",
        "minify"
    ],
    "plugins": [
        "react-hot-loader/babel",
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ],
    "env": {
        "production": {
          "presets": ["minify"]
        },
        "test": {
          "presets": ["@babel/preset-env", "@babel/preset-react"]
        }
      }
}