.search-box {
    position: relative;
    input[type="search"], input[type="text"] {
        border: none;
        border-bottom: 1px solid $color-white !important;
        background-color: transparent;
        border-radius: 0;
        padding: 0 40px 0 4px;
        outline: none;
        color: $color-white;
        line-height: 28px;
        width: 200px;
    }
    input::-webkit-input-placeholder {
      color: $color-white;
      opacity: 1;
    }
    
    input:-ms-input-placeholder {
      color: $color-white;
      opacity: 1;
    }
    
    input::placeholder {
      color: $color-white;
      opacity: 1;
    }
    input:-internal-autofill-selected {
      background-color: transparent;
    }
    input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
        -webkit-text-fill-color: $color-white;
        transition: background-color 5000s ease-in-out 0s;
    }
    > div {
        background-color: transparent !important;
        border: none;
        color: $color-white !important;
        text-shadow: none !important;
        box-shadow: none;
        padding: 0;
        margin: 0;
        &:after {
            left: auto;
            right: 5px;
            color: $color-white;
        }
        .ui-input-clear, .ui-icon-delete {
            right: 15px !important;

        }
    }
    svg[data-icon="search"] {
        color: $color-white;
        position: absolute;
        right: 0;
        bottom: 13px;
        cursor: pointer;
    }
    .search__clear {
      position: absolute;
      top: 3px;
      right: 25px;
      cursor: pointer;
    }
}
@media only screen and (max-width: 767px) {
  .search-box {
    input[type="search"], input[type="text"] {
      width: 180px;
    }
  }
}