$color-brandcolor: #F7CD23;
$color-blue: #4269ea;
$color-darkblue: #3f48cc;
$color-white: #ffffff;
$color-red: #ff0000;
$color-lightgrey: #f1f3f6;
$color-grey: #898989;
$color-titlegrey: #494949;
$color-darkgrey: #B2B2B2;
$color-fontgrey: #3B3B3B;
$color-fontlightgrey: #7A7A7A;
$color-bordergrey: #E6E7E8;
$color-darkfont: #454545;
$color-yellow: #f7ad22;
$color-darkyellow: #F7A917;
$color-green: #10a011;