$color-blue: #4269ea;
$color-darkblue: #3f48cc;
$color-white: #ffffff;
$color-red: #ff0000;
$color-lightgrey: #f1f3f6;
$color-grey: #8e8e8e;
$color-black: #000000;
$color-yellow: #f7ad22;
$color-green: #10a011;