@import '../../styles/index.scss';

.filter {
    width: 200px;
    height: 100%;
    padding: 20px;
    position: fixed;
    left: 0;
    z-index: 1;
    border-right: 1px solid $color-bordergrey;
    &__header {
        h4 {
            color: $color-fontgrey;
            font-size: 18px;
        }
    }
    &__body {
        padding: 0;
        overflow: visible;
        position: relative;
        .button {
            margin-top: 24px;
            display: block;
            width: 100%;
        }
    }
}
.rangeslider {
    position: relative;
    .horizontal-range__slider--label {
        position: absolute;
        text-align: center;
        display: block;
        width: 100%;
        font-weight: bold;
        color: $color-grey;
        font-size: 12px;
        line-height: 12px;
        top: 34px;
    }
}
.horizontal-range__slider {
    width: 100%;
    max-width: 180px;
    height: 50px;
    margin: 20px auto 0;
    .slider__track {
        top: 25px;
        height: 5px;
        background-color: $color-blue;
        &.slider__track-0, &.slider__track-2 {
            background-color: $color-darkgrey;
        }
    }
    .slider__thumb {
        top: 1px;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        color: $color-grey;
        cursor: pointer;
        box-sizing: border-box;
        width: 15px;
        height: 15px;
        &:before {
            content: "";
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $color-white;
            border: 1px solid $color-darkgrey;
            position: absolute;
            top: 18px;
            left: 0;
        }
        &:after {
            content: "₹";
            position: absolute;
            top: 0;
            left: -8px;
        }
        &:focus {
            outline: none;
        }
        &.slider__thumb-0 {
            margin-left: -2px;
        }
    }
}
