@import '../../styles/index.scss';

.filter {
    width: 250px;
    height: 100%;
    padding: 20px;
    position: fixed;
    left: 0;
    z-index: 1;
    &__header {
        color: $color-fontgrey;
    }
    &__body {
        padding: 0;
        overflow: visible;
        position: relative;
        .ui-rangeslider {
            position: relative;
            width: 100%;
            margin: 50px 0;
            padding: 0 10px;
            .ui-rangeslider-sliders {
                margin: 0;  
                .ui-slider-track:first-child {
                    width: 100%;
                }
            }
            .ui-slider-track, .ui-slider-track:first-child {
                height: 5px !important;
                .ui-btn.ui-slider-handle {
                    width: 20px;
                    height: 20px;
                    margin: -10px 0 0 -10px;
                    border-radius: 50%;
                    background-color: $color-white;
                    border: 1px solid $color-grey;
                }
                .ui-slider-bg {
                    background-color: $color-blue;
                }
            }
            .rangeslider--rupeesymbol {
                position: absolute;
                top: -25px;
                font-size: 14px;
                color: $color-grey;
                &[name='min-price'] {
                    left: -4px;
                }
                &[name='max-price'] {
                    right: 32px;
                }
            }
        }
        .ui-slider-input {
            position: absolute;
            top: -30px;
            background-color: transparent;
            border: none;
            box-shadow: none;
            color: $color-grey;
            text-align: left;
        }
        .ui-slider-input[name='price-min'] {
            left: 0;
            
        }
        .ui-slider-input[name='price-max'] {
            right: -12px;
        }
        .rangeslider__label {
            position: absolute;
            width: 100%;
            top: 14px;
            text-align: center;
            color: $color-grey;
            font-size: 15px;
            font-weight: 600;
        }
        .button {
            margin-top: 24px;
            display: block;
            width: 100%;
        }
    }
}