@import '../../styles/index.scss';


.home-container {
    padding: 66px 8px 0 0;
    width: 100%;
    min-height: calc(100vh - 32px);
}
.wrapper {
    min-height: 100vh;
    overflow: hidden;
    background-color: $color-lightgrey;
}
.footer {
    background-color: $color-blue;
    color: $color-white;
    text-align: center;
    padding: 4px 10px;
    width: 100%;
    z-index: 2;
}