@import '../../styles/index.scss';


.main-container {
    padding-left: 208px;
    .card-sort {
        padding: 20px 20px 20px 0;
        .card-sort__title {
            color: $color-fontgrey;
            font-size: 18px;
            line-height: 22px;
            margin: 0;
            padding-left: 8px;
        }
        .card-sort__items {
            margin: 0;
            padding-left: 30px;
            .card-sort--item {
                color: $color-grey;
                font-size: 12px;
                font-weight: 600;
                list-style-type: none;
                margin-right: 30px;
                line-height: 22px;
                cursor: pointer;
                border-bottom: 2px solid transparent;
                &.active {
                    color: $color-blue;
                    border-color: $color-blue;
                }
            }
        }
    }
}
.card-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.s-card {
    padding: 8px;
    width: 20%;
    img {
        width: 100%;
        height: 180px;
    }
    &__title {
        font-size: 14px;
        padding: 8px 0;
        color: $color-titlegrey;
    }
    &__detail {
        font-size: 14px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
    }
    &--disprice {
        color: $color-fontgrey;
    }
    &--orgprice {
        font-size: 12px;
        color: $color-grey;
    }
    &--disprice + &--orgprice {
        margin-left: 5px;
    }
    .s-card--discount {
        font-size: 14px;
        color: $color-green;
    }
    &__footer {
        padding: 20px 0;
    }
}
.card-sort-mob {
    text-align: center;
    color: $color-fontgrey;
    display: none !important;
    > div {
        padding: 10px 15px;
        cursor: pointer;    
        border-bottom: 1px solid $color-bordergrey;
    }
    > div:first-child {
        border-right: 1px solid $color-bordergrey;
    }
    span {
        display: inline-block;
        padding: 0 5px;
        font-size: 14px;
        font-weight: 600;
    }
}
@media only screen and (max-width: 992px) {
    .s-card {
        width: 33.33%;
    }
}
@media only screen and (max-width: 767px) {
    .s-card {
        width: 50%;
        padding: 16px 8px;
        &:nth-child(odd) {
            border-right: 1px solid $color-bordergrey;
            border-bottom: 1px solid $color-bordergrey;
        }
        &:nth-child(even) {
            border-bottom: 1px solid $color-bordergrey;
        }
        &__footer {
            padding: 15px 0;
        }
        &--disprice {
            font-size: 12px;
            line-height: 12px;
        }
        &--orgprice {
            font-size: 10px;
            line-height: 12px;
        }  
        .s-card--discount {
            font-size: 10px;
            line-height: 12px;
            align-self: center;
        }
    }
    .main-container {
        padding-left: 0;
    }
    .card-sort {
        display: none;
    }
    .card-sort-mob {
        display: flex !important;
    }
}