.card-container {
    border: 1px solid red;
}
.card {
    flex-basis: 20%;
    padding: 20px;
    img {
        width: 100%;
    }
    .card-body {
        
    }
    .card-detail {
    }
    .card-footer {
        padding: 15px 0;
    }
}