@import '../../styles/index.scss';

.modal {
    .modal-content {
        border-radius: 0;
    }
    .modal-body {
        padding: 20px;
        .sort-mobile__header, .filter-mobile__header {
            h3, h4 {
                font-size: 18px;
                color: $color-fontgrey;
                margin-bottom: 20px;
            }
        }
    }
    .modal-footer {
        display: flex;
        flex-direction: row;
        padding: 0;
        border-top: 1px solid $color-darkgrey;
        button {
            width: 50%;
            margin: 0;
            padding: 10px;
            border-radius: 0;
            background-color: transparent;
            color: $color-blue;
            border: none;
            font-weight: bold;
        }
        button + button {
            border-left: 1px solid $color-darkgrey;
        }
    }
}